/* Font variables declarations */
@font-face {
  font-family: 'shentox';
  src: url('fonts/shentox-medium.woff');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'ars-maquette-regular';
  src: url('fonts/ars-maquette-regular.woff');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'ars-maquette-bold';
  src: url('fonts/ars-maquette-bold-alt.woff');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'avalon-bold';
  src: url('fonts/avalon-bold.woff');
  font-style: normal;
  font-weight: 500;
}

/* General Variables */

:root {
  --shentox: 'shentox', sans-serif;
  --ars-maquette-regular: 'ars-maquette-regular', Helvetica Neue, Arial, sans-serif;
  --ars-maquette-bold: 'ars-maquette-bold', Helvetica Neue, Arial, sans-serif;
  --avalon: 'avalon-bold', sans-serif;
  --color-light-orange: #f42;
  --color-gray: #aaa;
  --color-white: #fff;
  --color-black: #000;
  --color-black-gray: #555;
}

body {
  font-size: 14px;
}

nav {
  background-color: #131313;
  color: #fff;
}

nav ul {
  display: inline-block;
}

nav li {
  display: inline-block;
  line-height: 2em;
}

.firstMenu {
  font-family: 'ars-maquette-regular', Helvetica Neue, Arial, sans-serif;
}

.secondMenu {
  font-family: 'shentox';
  text-transform: uppercase;
}
