/* Font variables declarations */
@font-face {
  font-family: 'shentox';
  src: url('fonts/shentox-medium.woff');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'ars-maquette-regular';
  src: url('fonts/ars-maquette-regular.woff');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'ars-maquette-bold';
  src: url('fonts/ars-maquette-bold-alt.woff');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'avalon-bold';
  src: url('fonts/avalon-bold.woff');
  font-style: normal;
  font-weight: 500;
}

/* General Variables */

:root {
  --shentox: 'shentox', sans-serif;
  --ars-maquette-regular: 'ars-maquette-regular', Helvetica Neue, Arial, sans-serif;
  --ars-maquette-bold: 'ars-maquette-bold', Helvetica Neue, Arial, sans-serif;
  --avalon: 'avalon-bold', sans-serif;
  --color-light-orange: #f42;
  --color-gray: #aaa;
  --color-white: #fff;
  --color-black: #000;
  --color-black-gray: #555;
}

body {
  font-size: 14px;
  font-family: var(--ars-maquette-regular);
}

nav {
  color: #fff;
}

nav ul {
  display: inline-block;
  padding: 0 20px 0 20px;
}

nav li {
  display: inline-block;
  line-height: 2em;
}

a {
  text-decoration: none;
  color: var(--color-gray);
}

main {
  height: 1000px;
  width: 100%;
  background-color: var(--color-light-orange);
}

.nav-dark-company {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: var(--color-gray);
  font-size: 13px;
  max-height: 32px;
  min-height: 32px;
}

.nav-dark-company li {
  padding: 0 10px 0 0;
}

.nav-white-featured {
  background-color: white;
  color: var(--color-black);
  font-family: var(--shentox);
  text-transform: uppercase;
  padding: 9px 0 9px 0;
}

.nav-white-featured li {
  padding: 0 20px 0 0;
}

@media only screen and (max-width: 1024px) {
  body {
    background-color: lightblue;
  }
}

@media only screen and (max-width: 768px) {
  body {
    background-color: lightblue;
  }
}

