/* Font variables declarations */
@font-face {
  font-family: "shentox";
  src: url("fonts/shentox-medium.woff");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "ars-maquette-regular";
  src: url("fonts/ars-maquette-regular.woff");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "ars-maquette-bold";
  src: url("fonts/ars-maquette-bold-alt.woff");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "avalon-bold";
  src: url("fonts/avalon-bold.woff");
  font-style: normal;
  font-weight: 500;
}

/* General Variables */

:root {
  --shentox: "shentox", sans-serif;
  --ars-maquette-regular: "ars-maquette-regular", Helvetica Neue, Arial,
    sans-serif;
  --ars-maquette-bold: "ars-maquette-bold", Helvetica Neue, Arial, sans-serif;
  --avalon: "avalon-bold", sans-serif;
  --color-light-orange: #f42;
  --color-gray: #aaa;
  --color-white: #fff;
  --color-black: #000;
  --color-black-gray: #555;
  --color-yellow-top: #fd3;
  --color-gray-transparent: hsla(0, 0%, 100%, 0.6);
  --color-black-gray-rights: #aaa;
  --color-black-gray-icons: #333;
  --color-black-gray-dark: #131313;
}

body {
  font-size: 14px;
  font-family: var(--ars-maquette-regular);
  overflow-x: hidden;
}

nav {
  color: #fff;
}

nav ul {
  display: inline-block;
  padding: 0 20px 0 20px;
}

nav li {
  display: inline-block;
  line-height: 2em;
}

a {
  text-decoration: none;
  color: var(--color-gray);
  padding: 0;
  margin: 0;
}

main {
  position: relative;
  height: 100%;
  width: 100%;
  padding-bottom: 50px;
}

footer {
  background-color: var(--color-black-gray-dark);
  color: var(--color-white);
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
}

.nav-dark-company {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(13, 13, 13);
  color: var(--color-gray);
  font-size: 13px;
  height: 32px;
}

.news-link {
  color: white;
}

.nav-dark-company li {
  padding: 0 8px 0 0;
}

.nav-white-featured {
  background-color: white;
  height: 74px;
  color: var(--color-black);
  font-family: var(--shentox);
  text-transform: uppercase;
  padding: 9px 0 9px 0;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;
}

.nav-white-featured ul {
  display: flex;
  margin-left: 20px;
  padding: 10px 0;
}

.nav-white-featured li {
  padding: 0 29px 0 0;
}

.nav-link:hover {
  color: black;
}

.dark-link:hover {
  color: white;
}

.arrow-down {
  font-size: 0.6rem;
  transform: scale(1, 2);
  position: relative;
  top: -5px;
}

.advertisements-yellow-bar {
  width: 100%;
  background-color: var(--color-yellow-top);
  color: var(--color-black);
  font-size: 13px;
  font-family: var(--ars-maquette-regular);
  text-transform: capitalize;
  line-height: 30px;
  padding-left: 20px;
}

.cover-articles {
  width: 100%;
  height: 75vh;
  max-height: 560px;
  display: flex;
  flex-flow: row;
  padding: 0 10px 0 10px;
  row-gap: 10px;
}

.small-cover-articles {
  display: flex;
  flex-flow: column;
  width: 33.33333%;
  padding: 0 0 0 8px;
}

.item1 {
  width: 66.66666%;
  background-image: url(./img/LOVE-LETTER-TO-WDPR2100-NAS-drive-796x417.png);
  position: relative;
}

.item1 h1 {
  font-size: 56px;
  font-family: var(--avalon);
  color: var(--color-white);
  padding: 10px 12px 20px 0;
  z-index: 5;
}

.item1 h1 a {
  color: var(--color-white);
}

.item1 h2 {
  font-size: 14px;
  font-family: var(--shentox);
  color: var(--color-white);
  z-index: 6;
}

.item1 a {
  text-decoration: none;
}

.item2 {
  height: 50%;
  background-image: url(./img/1-copy-1-796x417.jpg);
  position: relative;
}

.item2 h1 {
  font-size: 28px;
  font-family: var(--avalon);
  color: var(--color-white);
  padding: 8px 0 8px 0;
  z-index: 3;
}

.item2 h2 {
  font-size: 14px;
  font-family: var(--shentox);
  color: var(--color-white);
  z-index: 4;
}

.item2 h1 a {
  color: var(--color-white);
}

.item3 {
  height: 50%;
  background-image: url(./img/1-copy-796x417.jpg);
  position: relative;
}

.item3 h1 {
  font-size: 28px;
  font-family: var(--avalon);
  color: var(--color-white);
  padding: 8px 0 8px 0;
  z-index: 3;
}

.item3 h2 {
  font-size: 14px;
  font-family: var(--shentox);
  color: var(--color-white);
  z-index: 4;
}

.item3 h1 a {
  color: var(--color-white);
}

.align-items-button {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding-bottom: 20px;
  padding-left: 20px;
  margin-bottom: 8px;
}

.aling-img-cover {
  background-repeat: no-repeat;
  background-position-x: 0;
  background-position-y: 0;
  background-size: 100%;
  background-size: cover;
  background-position: center;
}

.details-cover-articles {
  display: flex;
  flex-flow: row;
  align-items: center;
  font-size: 12px;
  font-family: var(--ars-maquette-regular);
  z-index: 4;
  color: var(--color-gray-transparent);
}

.details-cover-articles i {
  padding: 0 5px 0 10px;
}

.details-cover-articles a:hover {
  color: var(--color-white);
}

section {
  display: flex;
  margin: 0 auto;
  margin-top: 50px;
  padding: 0 80px;
  flex-wrap: wrap;
  max-width: 1400px;
}

.cover-logo {
  background-image: url(./img/tnw.svg);
  background-size: contain;
  background-repeat: no-repeat;
  left: 24px;
  line-height: 1;
  top: 24px;
  pointer-events: none;
  width: 50%;
  height: 100px;
  position: absolute;
  z-index: 5;
}

.gray-gradient {
  position: absolute;
  background-image: url(./img/image-gradient.png);
  background-repeat: repeat-x;
  background-position: center;
  left: 0;
  bottom: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
}

.gray-gradient-small {
  position: absolute;
  background-image: url(./img/image-gradient.png);
  background-position: bottom;
  background-position-y: 310px;
  left: 0;
  bottom: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.current-date {
  position: absolute;
  top: 24px;
  color: var(--color-white);
  right: 24px;
  z-index: 8;
}

.gradient-cover {
  background-image: url(./img/cover-gradient.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  mix-blend-mode: lighten;
  z-index: 1;
}

.top-section {
  width: 100vw;
  margin-bottom: 19px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.section-name,
.category-name {
  position: relative;
  font-family: var(--avalon);
  color: var(--color-light-orange);
  font-size: 1.8rem;
}

.section-name {
  padding-left: 12px;
}

.see-more {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  font-family: var(--ars-maquette-regular);
  color: var(--color-light-orange);
  font-size: 1rem;
  padding-right: 15px;
}

.all-deals {
  align-self: center;
}

.see-more-link {
  font-family: inherit;
  color: inherit;
  font-size: inherit;
}

.spacer {
  padding: 0 10px;
}

.see-more-link:hover,
.section-name:hover,
.category-name:hover,
.inv-type-link span:hover {
  color: black;
}

.sml-article {
  max-width: 300px;
  display: inline-flex;
  flex-basis: 25%;
  flex-direction: column;
  padding: 12px;
}

.sml-article img {
  margin-bottom: 8px;
  width: 270px;
  height: 145px;
}

.author,
.timeago,
.dot {
  color: var(--color-gray);
  font-family: var(--ars-maquette-regular);
  font-size: 0.8rem;
}

.arrow-right {
  font-size: 1rem;
  position: relative;
  top: -1px;
}

.dot {
  position: relative;
  top: -4px;
}

.sml-srt-btm-line {
  padding-top: 4px;
}

.article-headline {
  font-family: var(--ars-maquette-bold);
  font-size: 1rem;
  line-height: 1.2rem;
  padding-bottom: 5px;
  padding-top: 10px;
}

.headline-link {
  color: black;
}

.headline-link:hover {
  color: var(--color-light-orange);
  text-decoration: underline rgba(255, 68, 34, 0.4);
}

.investment-card {
  position: relative;
  flex: 25%;
}

.investment-card img {
  position: absolute;
  margin: 10px;
  width: 60px;
  height: 60px;
}

.inv-name {
  position: relative;
  background-color: var(--color-light-orange);
  height: 39px;
  font-family: var(--avalon);
  font-size: 1.2rem;
  color: white;
}

.inv-name h4 {
  position: relative;
  left: 80px;
  top: 10px;
}

.inv-name h5 {
  font-family: var(--shentox);
}

.inv-value {
  background-color: rgba(255, 68, 34, 0.08);
  height: 57px;
}

.inv-value h4 {
  color: black;
  position: relative;
  left: 80px;
  top: 10px;
  font-family: var(--avalon);
  font-size: 1.2rem;
}

.inv-value h5 {
  color: grey;
  font-family: var(--shentox);
  text-transform: uppercase;
  font-size: 0.7rem;
  position: relative;
  left: 80px;
  top: 15px;
}

.inv-type {
  background-color: #fffaf8;
  padding: 10px;
}

.inv-type-link {
  position: relative;
  display: block;
  margin: 10px;
  height: 20px;
  color: var(--color-black-gray);
  font-size: 0.8rem;
}

.inv-type-link i {
  color: black;
  font-size: 0.8rem;
  transform: scale(1.2, 1);
  padding-right: 5px;
}

.inv-story {
  border-top: 1px solid rgba(255, 68, 34, 0.25);
  background-color: #fffaf8;
  line-height: 1.2rem;
  padding: 12px;
}

.inv-story a {
  color: var(--color-black-gray);
  font-family: var(--ars-maquette-regular);
  font-size: 0.7rem;
}

.story-source {
  color: var(--color-gray);
}

.category {
  max-width: 400px;
  display: inline-flex;
  flex-basis: 33%;
  flex-direction: column;
  padding: 12px;
}

.logo-footer-site {
  display: inline-block;
  height: 9px;
  margin-right: 1px;
  vertical-align: baseline;
}

.logo-powered-by {
  display: inline-block;
  height: 9px;
  margin-right: 1px;
  vertical-align: baseline;
}

.icon-image-list {
  height: 50px;
  margin-bottom: 1.5em;
  margin-top: 3.5em;
  margin-left: 0.8em;
}

.icon-image-list ul li {
  display: inline-block;
  width: 16px;
  height: 16px;
  padding: 0 54px 0 0;
}

.icon-image-list ul li a {
  background: var(--color-black-gray-icons);
  border-radius: 50%;
  display: block;
  height: 40px;
  padding: 12px;
  text-align: center;
  width: 40px;
  border: 1px solid var(--color-black-gray-icons);
}

.icon-image-list ul li a:hover {
  background-color: transparent;
  box-shadow: inset 0 0 0 2px var(--color-black-gray-icons);
}

.facebook-icon {
  background-position: -272px -272px;
}

.twitter-icon {
  background-position: -1024px -1024px;
}

.youtube-icon {
  background-position: -1280px -1280px;
}

.instagram-icon {
  background-position: -416px -416px;;
}

.pinterest-icon {
  background-position: -672px -672px;
}

.feed-icon {
  background-position: -816px -816px;
}

.mail-icon {
  background-position: -576px -576px;
}

.briefcase-icon {
  display: inline-block;
  background-position: -48px -48px;
}

.price-tag-icon {
  display: inline-block;
  background-position: -976px -976px;
}

.icon {
  background-image: url(./img/icons-sprite.svg);
  background-repeat: no-repeat;
  background-size: 1296px 1296px;
  display: block;
  width: 16px;
  height: 16px;
}

.title-link-color {
  color: black;
}

.title-link-color:hover {
  color: var(--color-light-orange);
  text-decoration: underline;
}

.horizontal-menu {
  padding-bottom: 80px;
}

.horizontal-menu ul li {
  display: inline-block;
  font-family: var(--shentox);
  font-size: 13px;
  text-transform: uppercase;
  padding: 0 6px;
}

.horizontal-menu a:hover {
  color: var(--color-white);
}

.reserved-rights {
  display: flex;
  flex-flow: row;
  padding-bottom: 50px;
  font-family: var(--ars-maquette-regular);
  font-size: 13px;
  color: var(--color-black-gray-rights);
}

.reserved-rights img {
  padding-left: 5px;
  padding-right: 5px;
}

.reserved-rights b {
  color: var(--color-light-orange);
}

.corona {
  background-image: url(./img/coronavirus-china-app-368x276.jpg);
}

.deal-img {
  position: relative;
  width: 270px;
  height: 201px;
  background-repeat: no-repeat;
  background-size: 270px 201px;
}

.deal-img .ribbon {
  width: 80px;
  height: 80px;
  position: absolute;
  top: 0;
  right: 0;
}

.deal-off {
  position: absolute;
  font-family: var(--ars-maquette-bold);
  color: black;
  transform: rotate(45deg);
  top: 25px;
  right: 2px;
  text-transform: uppercase;
}

.microsoft-course {
  background-image: url(./img/10-course-bundle.jpg);
}

.google-seo {
  background-image: url(./img/google-seo.jpg);
}

.aws-certified {
  background-image: url(./img/aws-certified.jpg)
}

.how-to-draw {
  background-image: url(./img/how-to-draw.jpg)
}

.quickbooks {
  background-image: url(./img/quickbooks.jpg);
}

.pixteller {
  background-image: url(./img/pixteller.jpg);
}

.video-editing {
  background-image: url(./img/video-editing.jpg);
}

.aws-architect {
  background-image: url(./img/aws-certified2.jpg);
}

.price {
  font-family: var(--ars-maquette-regular);
}

.old {
  font-size: 0.75rem;
  color: var(--color-black-gray-rights);
  text-decoration: line-through;
}

.new {
  font-size: 1rem;
  color: var(--color-black-gray);
  padding-left: 5px;
}

@media only screen and (max-width: 1024px) {
  body {
    background-color: lightblue;
  }
}

@media only screen and (max-width: 768px) {
  body {
    background-color: lightblue;
  }
}
